<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="createTask-style.css" />

    <title>Criar Tarefa</title>
  </head>

  <body>
    <header>
      <h2>Criar Tarefa</h2>

      <div>
        <a th:href="@{/tasks}"><i class="material-icons" style="font-size:32px;">arrow_back</i></a>
      </div>
    </header>

    <main>
      <th:block th:include="messages/errorMessage"></th:block>
      <th:block th:include="messages/successMessage"></th:block>

      <form method="post">
        Descrição: <input type="text" name="description"/>
        <button type="submit">Salvar</button>
      </form>
    </main>
  </body>
</html>
