<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar tarefa</title>
  </head>
  <body>
    <h1>Atualizar tarefa</h1>

    <th:block th:include="messages/errorMessage"></th:block>

    <form method="post">
      Description:
      <input type="text" name="description" th:value="${task.description}" />
      Status:
      <input type="checkbox" name="isConcluded" th:checked="${task.isConcluded}">
      <button type="submit">Atualizar</button>
      <a th:href="@{/tasks}"
          ><i class="material-icons left">Cancelar</i></a
        >
    </form>
  </body>
</html>
