<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Lista de tarefas</title>
  </head>
  <body>
    <header>
      <h2>Lista de tarefas</h2>
      <div>
        <a href="/createTask">CRIAR TAREFA</a>
      </div>
    </header>

    <main>
      <th:block th:include="messages/successMessage"></th:block>

      <!-- Adicionar um th:if para verificar se a lista está vazia -->
      <!-- Se estiver vazia, mostrar uma mensagem na tela -->
      <table>
        <thead>
          <tr>
            <th class="description-content">Descrição</th>
            <th class="button-status">Concluído</th>
            <th class="button-update">Atualizar</th>
            <th class="button-del">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-content" th:each="task : ${tasks}">
            <td class="description-content">
              <span
                th:class="'concluded-'+${task.isConcluded}"
                th:text="${task.description}"
              ></span>
            </td>

            <td class="button-status">
              <a
                th:href="@{/updateStatus(id = ${task.id}, status = ${task.isConcluded})}"
                ><i class="material-icons left">concluir</i></a
              >
            </td>

            <td class="button-update">
              <a th:href="@{/updateTask/{id}(id = ${task.id})}"
                ><i class="material-icons left">update</i></a
              >
            </td>

            <td class="button-del">
              <a th:href="@{/deleteTask(id = ${task.id}) }" name="delete task"><i class="material-icons left">delete</i></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
