<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h3><a href="/createTask">Criar Tarefa</a></h3>

    <div th:each="task : ${tasks}">
      <div class="row">
        <p><span th:text="${task.description}"></span></p>
        
      </div>
    </div>
  </body>
</html>
